* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Karla, Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  background-color: #0B2434;
}

#root {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin: 40px;
  border-radius: 10px;
  padding: 40px 30px;
}

.title {
  font-size: 3rem;
  color: #2B283A;
}

.instructions {
  font-size: 1.5rem;
  font-weight: 400;
  color: #2B283A;
  text-align: center;
  max-width: 500px;
}

.stats {
  display: flex;
  gap: 20px;
  font-size: 1.2em;
  margin-top: 5px;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.die {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas:
  "a . c"
  "e g f"
  "d . b";
  padding: 7px;
  text-align: center;
  color: #2B283A;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  user-select: none;
  cursor: pointer;
}

.pip {
  display: block;
  align-self: center;
  justify-self: center;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: black;
}

@media (max-width: 600px) {
  main {
    padding: 20px;
  }

  .title {
    font-size: 2rem;
  }

  .instructions {
    font-size: 1.2rem;
  }

  .dice-container {
    grid-template: auto auto / repeat(2, 1fr);
    gap: 10px;
  }

  .die {
    width: 55px;
    height: 55px;
  }

  .pip {
    height: 10px;
    width: 10px;
  }
}

.roll-button {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #5035FF;
  color: white;
  font-size: 1.5em;
  border: none;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  font-weight: 700;
  margin-top: 10px;
}

.roll-button:hover {
  background-color: #3F2BFF;
}

.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.repo-link {
  color: white;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.repo-link:hover {
  color: #d3d3d3;
}